$theme-colors: (
  background: #f5f5f5,
  primary: #563d7c,
  secondary: navy,
  notice: blue,
  success: green,
  warning: orange,
  error: red
);

$theme-fonts: (
  primary: Avenir,
  secondary: Menlo
);
