.poke43-editor {
  border-color: #333333;
  background: black;
  color: steelblue;
}

.poke43-editor-editing {
  border-color: gray;
  background: black;
  color: #89bdff;
}

.poke43-line-caret {
  border-right: 3px solid orange;
}

.poke43-keyboard-row span {
  box-shadow: none !important;
}

.poke43-key {
  background: black;
  color: #999999;
}

.poke43-key-keyboard {
  border-color: steelblue !important;
}

.poke43-key-character td {
  color: #999999;
}

.poke43-key-symbol {
  background: #101010;
}

.poke43-key-symbol td {
  color: #dddddd;
}

.poke43-key-custom {
  border-color: orange;
}

.poke43-key-custom td {
  color: #999999;
}

.poke43-key-move {
  border-color: green !important;
}

.poke43-key-move1 {
  border: 2px solid gray !important;
}

.poke43-key-delete {
  border-color: maroon !important;
}

.poke43-key-keyboard .poke43-key-hint0,
.poke43-key-editor .poke43-key-hint0,
.poke43-key-character .poke43-key-hint0,
.poke43-key-symbol .poke43-key-hint0,
.poke43-key-custom .poke43-key-hint0 {
  color: #cccccc;
}

.poke43-key-flash-no-action {
  border: 2px solid red !important;
}

.poke43-key-flash0 .poke43-key-hint0 {
  color: white !important;
}

.poke43-key-flash1 .poke43-key-hint1 {
  color: white !important;
}

.poke43-key-flash2 .poke43-key-hint2 {
  color: white !important;
}

.poke43-key-flash3 .poke43-key-hint3 {
  color: white !important;
}

.poke43-key-flash4 .poke43-key-hint4 {
  color: white !important;
}

.poke43-key-flash5 .poke43-key-hint5 {
  color: white !important;
}

.poke43-key-flash6 .poke43-key-hint6 {
  color: white !important;
}

.poke43-key-flash7 .poke43-key-hint7 {
  color: white !important;
}

.poke43-key-flash8 .poke43-key-hint8 {
  color: white !important;
}

/* CodeMirror dark theme (ir_black variant) */

.cm-s-poke43-dark {
  font-size: 1em;
  line-height: 1.5em;
  font-family: monofur, inconsolata, monospace;
  background: #000000;
  color: #EDEDED;
}

.cm-s-poke43-dark .CodeMirror-lines {
  padding: 8px 0;
}

.cm-s-poke43-dark .CodeMirror-gutters {
  background-color: #000000;
  padding-right: 10px;
  z-index: 3;
  border: none;
}

.cm-s-poke43-dark div.CodeMirror-cursor {
  border-left: 3px solid #EDEDED;
}

.cm-s-poke43-dark .CodeMirror-activeline-background {
  background: #FFFFFF24;
}

.cm-s-poke43-dark .CodeMirror-selected {
  background: #333333;
}

.cm-s-poke43-dark .cm-comment {
  color: #7C7C7C;
}

.cm-s-poke43-dark .cm-keyword {
  color: #96CBFE;
}

.cm-s-poke43-dark .cm-string {
  color: #A8FF60;
}

.cm-s-poke43-dark .cm-number {
  color: #DAD085;
}

.cm-s-poke43-dark .cm-property {
  color: #DAD085;
}

.cm-s-poke43-dark .cm-atom {
  color: #DAD085;
}

.cm-s-poke43-dark .cm-operator {
  color: #96CBFE;
}

.cm-s-poke43-dark .CodeMirror-linenumber {
  color: #7C7C7C;
}
