.CodeMirror-cursors {
  visibility: visible !important;
}

@keyframes blink-border-color {
  0% { border-color: inherit; }
  50% { border-color: transparent; }
  100% { border-color: inherit; }
}

.CodeMirror-cursor {
  width: 0;
  border-right: none;
  border-left: 3px solid navy;
  animation: 1.1s ease 0.4s infinite blink-border-color;
}
