<div class="poke43-keyboard-row" style="display: none;">
  <span data-type="EditorKeyCharSymSpaceMove"
    data-text="я" data-text2="!" data-text4="1"></span>
  <span data-type="EditorKeyCharSymSpaceMove"
    data-text="в" data-text2="@" data-text4="2"></span>
  <span data-type="EditorKeyCharSymSpaceMove"
    data-text="е" data-text2="#" data-text4="3"></span>
  <span data-type="EditorKeyCharSymSpaceMove"
    data-text="р" data-text2="$" data-text4="4"></span>
  <span data-type="EditorKeyCharSymSpaceMove"
    data-text="т" data-text2="%" data-text4="5"></span>
  <span data-type="EditorKeyCharSymSpaceMove"
    data-text="ъ" data-text2="^" data-text4="6"></span>
  <span data-type="EditorKeyCharSymSpaceMove"
    data-text="у" data-text2="&" data-text4="7"></span>
  <span data-type="EditorKeyCharSymSpaceMove"
    data-text="и" data-text2="*" data-text4="8"></span>
  <span data-type="EditorKeyCharSymSpaceMove"
    data-text="о" data-text2="(" data-text4="9"></span>
  <span data-type="EditorKeyCharSymEnterDelete"
    data-text="п" data-text2=")" data-text4="0"></span>
  <span data-type="EditorKeyCharSymEnterDelete" data-text="ю"></span>
      </div>
      <div class="poke43-keyboard-row" style="display: none;">
  <span class="poke43-key-move1" data-type="EditorKeyCharSymSpaceMove"
    data-text="а"
    data-command3="moveToEOL"
    data-command7="moveToSOL"></span>
  <span data-type="EditorKeyCharSymSpaceMove"
    data-text="с" data-text2="_" data-text4="-"></span>
  <span data-type="EditorKeyCharSymSpaceMove"
    data-text="д" data-text2="+" data-text4="="></span>
  <span data-type="EditorKeyCharSymSpaceMove"
    data-text="ф" data-text2="{" data-text4="["></span>
  <span data-type="EditorKeyCharSymSpaceMove"
    data-text="г" data-text2="}" data-text4="]"></span>
  <span data-type="EditorKeyCharSymSpaceMove"
    data-text="х" data-text2=":" data-text4=";"></span>
  <span data-type="EditorKeyCharSymSpaceMove"
    data-text="й" data-text2='"' data-text4="'"></span>
  <span data-type="EditorKeyCharSymSpaceMove"
    data-text="к" data-text2="|" data-text4="\"></span>
  <span data-type="EditorKeyCharSymSpaceMove" data-text="л"></span>
  <span data-type="EditorKeyCharSymEnterDelete" data-text="ш"></span>
  <span data-type="EditorKeyCharSymEnterDelete" data-text="щ"></span>
      </div>
      <div class="poke43-keyboard-row" style="display: none;">
  <span data-type="KeyboardKey"
    data-command="cycleLangBlockLayouts" data-hint="&#x1f310;"
    data-command1="toggleSymBlock"
    data-command3="cycleSymBlockLayouts"
    data-command5="toggleCustBlock"></span>
  <span data-type="EditorKeyCharSymSpaceMoveWB" data-text="з"></span>
  <span data-type="EditorKeyCharSymSpaceMove"
    data-text="ь" data-text2="~" data-text4="`"></span>
  <span data-type="EditorKeyCharSymSpaceMove"
    data-text="ц" data-text2="<" data-text4=","></span>
  <span data-type="EditorKeyCharSymSpaceMove"
    data-text="ж" data-text2=">" data-text4="."></span>
  <span data-type="EditorKeyCharSymSpaceMove"
    data-text="б" data-text2="?" data-text4="/"></span>
  <span data-type="EditorKeyCharSymSpaceMove"
    data-text="н" data-text2="&#x2116;"></span>
  <span data-type="EditorKeyCharSymSpaceMove" data-text="м"></span>
  <span data-type="EditorKeyCharSymEnterDeleteWB" data-text="ч"></span>
  <span data-type="KeyboardKey"
    data-hint="&#x2728;"
    data-command1="hide"
    data-command3="expandAbbreviation"
    data-command5="evalJS"></span>
</div>
