<div class="poke43-keyboard-row" style="display: none;">
  <span data-type="EditorKeyCharacterSpaceMove" data-text="q"></span>
  <span data-type="EditorKeyCharacterSpaceMove" data-text="w"></span>
  <span data-type="EditorKeyCharacterSpaceMove" data-text="e"></span>
  <span data-type="EditorKeyCharacterSpaceMove" data-text="r"></span>
  <span data-type="EditorKeyCharacterSpaceMove" data-text="t"></span>
  <span data-type="EditorKeyCharacterSpaceMove" data-text="y"></span>
  <span data-type="EditorKeyCharacterSpaceMove" data-text="u"></span>
  <span data-type="EditorKeyCharacterSpaceMove" data-text="i"></span>
  <span data-type="EditorKeyCharacterEnterDelete" data-text="o"></span>
  <span data-type="EditorKeyCharacterEnterDelete" data-text="p"></span>
      </div>
      <div class="poke43-keyboard-row" style="display: none;">
  <span class="poke43-key-move1" data-type="EditorKeyCharacterSpaceMove"
    data-text="a"
    data-command3="moveToEOL"
    data-command7="moveToSOL"></span>
  <span data-type="EditorKeyCharacterSpaceMove" data-text="s"></span>
  <span data-type="EditorKeyCharacterSpaceMove" data-text="d"></span>
  <span data-type="EditorKeyCharacterSpaceMove" data-text="f"></span>
  <span data-type="EditorKeyCharacterSpaceMove" data-text="g"></span>
  <span data-type="EditorKeyCharacterSpaceMove" data-text="h"></span>
  <span data-type="EditorKeyCharacterSpaceMove" data-text="j"></span>
  <span data-type="EditorKeyCharacterEnterDelete" data-text="k"></span>
  <span data-type="EditorKeyCharacterEnterDelete" data-text="l"></span>
      </div>
      <div class="poke43-keyboard-row" style="display: none;">
  <span data-type="KeyboardKey"
    data-command="cycleLangBlockLayouts" data-hint="&#x1f310;"
    data-command1="toggleSymBlock"
    data-command3="cycleSymBlockLayouts"
    data-command5="toggleCustBlock"></span>
  <span data-type="EditorKeyCharacterSpaceMoveWB" data-text="z"></span>
  <span data-type="EditorKeyCharacterSpaceMove" data-text="x"></span>
  <span data-type="EditorKeyCharacterSpaceMove" data-text="c"></span>
  <span data-type="EditorKeyCharacterSpaceMove" data-text="v"></span>
  <span data-type="EditorKeyCharacterSpaceMove" data-text="b"></span>
  <span data-type="EditorKeyCharacterSpaceMove" data-text="n"></span>
  <span data-type="EditorKeyCharacterEnterDeleteWB" data-text="m"></span>
  <span data-type="KeyboardKey"
    data-hint="&#x2728;"
    data-command1="hide"
    data-command3="expandAbbreviation"
    data-command5="evalJS"></span>
</div>
