<div class="poke43-keyboard-row" style="display: none;">
  <span data-type="EditorKeyCharSymSpaceMove"
    data-text="q" data-text2="!" data-text4="1"></span>
  <span data-type="EditorKeyCharSymSpaceMove"
    data-text="w" data-text2="@" data-text4="2"></span>
  <span data-type="EditorKeyCharSymSpaceMove"
    data-text="e" data-text2="#" data-text4="3"></span>
  <span data-type="EditorKeyCharSymSpaceMove"
    data-text="r" data-text2="$" data-text4="4"></span>
  <span data-type="EditorKeyCharSymSpaceMove"
    data-text="t" data-text2="%" data-text4="5"></span>
  <span data-type="EditorKeyCharSymSpaceMove"
    data-text="y" data-text2="^" data-text4="6"></span>
  <span data-type="EditorKeyCharSymSpaceMove"
    data-text="u" data-text2="&" data-text4="7"></span>
  <span data-type="EditorKeyCharSymSpaceMove"
    data-text="i" data-text2="*" data-text4="8"></span>
  <span data-type="EditorKeyCharSymEnterDelete"
    data-text="o" data-text2="(" data-text4="9"></span>
  <span data-type="EditorKeyCharSymEnterDelete"
    data-text="p" data-text2=")" data-text4="0"></span>
      </div>
      <div class="poke43-keyboard-row" style="display: none;">
  <span class="poke43-key-move1" data-type="EditorKeyCharSymSpaceMove"
    data-text="a"
    data-command3="moveToEOL"
    data-command7="moveToSOL"></span>
  <span data-type="EditorKeyCharSymSpaceMove"
    data-text="s" data-text2="_" data-text4="-"></span>
  <span data-type="EditorKeyCharSymSpaceMove"
    data-text="d" data-text2="+" data-text4="="></span>
  <span data-type="EditorKeyCharSymSpaceMove"
    data-text="f" data-text2="{" data-text4="["></span>
  <span data-type="EditorKeyCharSymSpaceMove"
    data-text="g" data-text2="}" data-text4="]"></span>
  <span data-type="EditorKeyCharSymSpaceMove"
    data-text="h" data-text2=":" data-text4=";"></span>
  <span data-type="EditorKeyCharSymSpaceMove"
    data-text="j" data-text2='"' data-text4="'"></span>
  <span data-type="EditorKeyCharSymEnterDelete"
    data-text="k" data-text2="|" data-text4="\"></span>
  <span data-type="EditorKeyCharSymEnterDelete" data-text="l"></span>
      </div>
      <div class="poke43-keyboard-row" style="display: none;">
  <span data-type="KeyboardKey"
    data-command="cycleLangBlockLayouts" data-hint="&#x1f310;"
    data-command1="toggleSymBlock"
    data-command3="cycleSymBlockLayouts"
    data-command5="toggleCustBlock"></span>
  <span data-type="EditorKeyCharSymSpaceMoveWB" data-text="z"></span>
  <span data-type="EditorKeyCharSymSpaceMove"
    data-text="x" data-text2="~" data-text4="`"></span>
  <span data-type="EditorKeyCharSymSpaceMove"
    data-text="c" data-text2="<" data-text4=","></span>
  <span data-type="EditorKeyCharSymSpaceMove"
    data-text="v" data-text2=">" data-text4="."></span>
  <span data-type="EditorKeyCharSymSpaceMove"
    data-text="b" data-text2="?" data-text4="/"></span>
  <span data-type="EditorKeyCharSymSpaceMove" data-text="n"></span>
  <span data-type="EditorKeyCharSymEnterDeleteWB" data-text="m"></span>
  <span data-type="KeyboardKey"
    data-hint="&#x2728;"
    data-command1="hide"
    data-command3="expandAbbreviation"
    data-command5="evalJS"></span>
</div>
