<div class="poke43-keyboard-row" style="display: none;">
  <span data-type="EditorKeySymbol"
    data-text="0"
    data-text2="2"
    data-text4="4"
    data-text6="3"
    data-text8="1"></span>
  <span data-type="EditorKeySymbol"
    data-text="5"
    data-text2="7"
    data-text4="9"
    data-text6="8"
    data-text8="6"></span>
  <span data-type="EditorKeySymbol"
    data-text='"'
    data-text2=")"
    data-text4="]"
    data-text6="["
    data-text8="("></span>
  <span data-type="EditorKeySymbol"
    data-text="'"
    data-text2="}"
    data-text4=">"
    data-text6="<"
    data-text8="{"></span>
  <span data-type="EditorKeySymbol"
    data-text="$"
    data-text2="/"
    data-text4="`"
    data-text6="´"
    data-text8="\"></span>
  <span data-type="EditorKeySymbol"
    data-text="|"
    data-text2="^"
    data-text4="£"
    data-text6="€"
    data-text8="~"></span>
  <span data-type="EditorKeySymbol"
    data-text="="
    data-text2="+"
    data-text4="*"
    data-text6="%"
    data-text8="-"></span>
  <span data-type="EditorKeySymbol"
    data-text="#"
    data-text2="?"
    data-text4="&"
    data-text6="@"
    data-text8="!"></span>
  <span data-type="EditorKeySymbol"
    data-text=";"
    data-text2=":"
    data-text4="."
    data-text6=","
    data-text8="_"></span>
</div>
